body{
  background-color: #202124;
}
.container {
  height: 120px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.error{
  font-size: 13px;
  display: none;
  color: crimson;
}

input {
  position:relative;
  border-radius: 20px;
  border: 6px white;
  height: 7vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.816);
  color: #9aa0a6;
  width: 60vw;
}
p {
  color: white;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}
h4 {
  color: whitesmoke;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}
button{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  width: 60vw;
  height: 12vh;
  border-radius: 20px;
  cursor: pointer;
}
button:active{
  background-color: #9aa0a6;
}
#inspectionDue{
  font-size: 40px;
  font-weight: bold;
}
#addMoreTime{
  display: none;
}
