body{
  background-color: #1e1d1e;
}
#addMoretimeText{
  display: none;
}
.containerForImput {
  height: 200px;
  position: relative;
}

.centerForHeading {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 7% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerForTimeImput {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 40% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerForDateImput {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 75% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerForError {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 100% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.containerForButton{
  height: 100px;
  position: relative;
}

.centerForButton{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.containerForNextInspection{
  display: none;
  height: 100px;
  position: relative;
}
.centerForNextHeading{
  font-size: 17px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 20% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerForNextInspection{
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 70% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.containerForButton{
  height: 100px;
  position: relative;
}

.containerForMoreDownTime{
  height: 150px;
  position: relative;
}
.centerForNextHeading{
  font-size: 17px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 20% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerForAddButton{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 60% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.containerForButton2{
  display:none;
  height: 100px;
  position: relative;
}

.containerForResetButton{
  display:none;
  height: 100px;
  position: relative;
}
.centerForResetButton{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 60% ;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.error{
  font-style: italic;
  font-size: 12px;
  display: none;
  color: crimson;
}

input {
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  position:relative;
  border-radius: 20px;
  border: white;
  height: 7vh;
  background-color:slategray;
  color: #ffffff;
  width: 69vw;
}
p {
  color: white;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}
h4 {
  color: whitesmoke;
  text-align: center;
}
h3 {
  color: white;
  text-align: center;
}
button{
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  width: 60vw;
  height: 10vh;
  border-radius: 20px;
 
}
button:active{
  background-color: #9aa0a6;
}
#addMoreTime{
  display: none;
}
